<div id=":kp" class="ii gt adP adO">
    <div id=":ko" class="a3s aXjCH m154ed6283e35c516">
        <div bgcolor="#fdfdfd"
             style="font-family:'Source Sans Pro',Helvetica,Arial,sans-serif;font-size:14px;line-height:20px;width:100%!important;background:#fdfdfd;margin:0">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                <tr>
                    <td align="center">
                        <table cellpadding="0" cellspacing="0" width="640">
                            <tbody>
                            <tr>
                                <!--<td align="left" style="padding:20px"><span><img-->
                                    <!--src="http://nightlife.gotests.com/media/place_logo/2016/05/26/logo_gb.png"-->
                                    <!--style="width:88px;min-height:24px"-->
                                    <!--class="CToWUd"></span>-->
                                <!--</td>-->
                            </tr>
                            <tr>
                                <td>
                                    <table bgcolor="#fff" border="0" cellpadding="0" cellspacing="0"
                                           style="border-collapse:collapse;background:#fff;border:1px solid #ededed"
                                           width="100%">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <table align="left" border="0" cellpadding="0" cellspacing="0"
                                                       style="border-collapse:collapse" width="100%">
                                                    <tbody>
                                                    <tr>
                                                        <td align="left" style="padding:55px 30px 30px">
                                                            <h3 style="font-size:23px;font-weight:400;color:#2e3645;margin:0">
                                                                <span style="font-size:24px">Hi James,</span>
                                                            </h3>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        {% block content %}
                                                        <td align="left" style="padding:0 30px 15px">
                                                            <p style="font-size:15px;font-weight:300;color:#8c8c8c;line-height:1.55;margin:0"></p>
                                                            <p>
                                                            </p>
                                                            <hr>
                                                            <p></p>
                                                            <p>{{ ran_str }} It is a long established fact that a reader will be
                                                                distracted by the readable content of a page when
                                                                looking at its layout. The point of using Lorem Ipsum
                                                                is that it has a more-or-less normal distribution of
                                                                letters, as opposed to using 'Content here, content
                                                                here', making it look like readable English. Many
                                                                desktop publishing packages and web page editors now
                                                                use Lorem Ipsum as their default model text, and a
                                                                search for 'lorem ipsum' will uncover many web sites
                                                                still in their infancy. Various versions have evolved
                                                                over the years, sometimes by accident, sometimes on
                                                                purpose (injected humour and the like).</p>


                                                            <p>The point of using Lorem Ipsum
                                                                is that it has a more-or-less normal distribution of
                                                                letters, as opposed to using 'Content here, content
                                                                here', making it look like readable English. {{ ran_str }}</p>

                                                            <p></p>
                                                            <p></p>
                                                            <hr>
                                                            <p></p>
                                                            <p></p>
                                                        </td>
                                                        {% endblock %}
                                                    </tr>
                                                    <tr>
                                                        <td align="center">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" style="padding:0 30px 15px">
                                                            <p style="font-size:15px;font-weight:300;color:#8c8c8c;line-height:1.55;margin:0">
                                                                <span style="font-size:14px;line-height:20px"></span>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" style="padding:0 30px 50px">
                                                            <p style="font-size:15px;font-weight:300;color:#8c8c8c;line-height:1.55;margin:0">
                                                                <span style="font-size:14px;line-height:20px">The Globbar Team</span>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top:20px;padding-bottom:50px">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0"
                                           style="border-collapse:collapse;border-top-width:1px;border-top-style:dotted;border-top-color:#e1e1e1;color:#a5a5a5"
                                           width="100%">
                                        <tbody>
                                        <tr>
                                            <td align="center" style="padding-top:20px"><span><img height="28"
                                            src="http://nightlife.gotests.com/media/place_logo/2016/05/26/logo_gb.png"
                                            style="width:27px;min-height:28px"
                                            width="27"
                                            class="CToWUd"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center"
                                                style="padding:10px 0 30px;font-weight:300;color:#8c8c8c">Globbar
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="font-weight:300;font-weight:300;color:#8c8c8c">©
                                                2016 Globbar  USA
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="padding-top:10px">
                                                <table border="0" cellpadding="0" cellspacing="0" width="300">
                                                    <tbody>
                                                    <tr>
                                                        <td align="center" width="55"><a
                                                                href="https://twitter.com/"
                                                                style="font-weight:300;color:#8c8c8c;text-decoration:none"
                                                                target="_blank"
                                                                >Twitter</a>
                                                        </td>
                                                        <td align="center" width="68"><a
                                                                href="https://www.facebook.com/"
                                                                style="font-weight:300;color:#8c8c8c;text-decoration:none"
                                                                target="_blank">Facebook</a>
                                                        </td>
                                                        <td align="center" width="67"><a
                                                                href="https://www.linkedin.com/"
                                                                style="font-weight:300;color:#8c8c8c;text-decoration:none"
                                                                target="_blank"
                                                               >LinkedIn</a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>