{% extends "admin/base_site.html" %}
{% block branding %}
<h1 id="site-name">{{  'Night Life administration' }}</h1>
{% endblock %}
{% block content %}

      <table>
          <tr>
              <td>Logo:</td>
              <td>
                  {% if entry.image %}
                      <img width="100" src="{{ entry.logo.url }}">
                  {% endif%}
              </td>
          </tr>
          <tr>
              <td>Picture:</td>
              <td>
                  {% if entry.image %}
                      <img width="100%" src="{{ entry.image.url }}">
                  {% endif%}
              </td>
          </tr>
          <tr>
              <td>Title:</td>
              <td>
                    {{ entry.title }}
              </td>
          </tr>
          <tr>
              <td>Description:</td>
              <td>{{ entry.description}} </td>
          </tr>
          <tr>
              <td>Address:</td>
              <td>{{ entry.address}} </td>
          </tr>
          <tr>
              <td>Opening hours:</td>
              <td>{{ entry.opening_hours}} </td>
          </tr>
          <tr>
              <td>Music type:</td>
              <td>{{ entry.music_type}} </td>
          </tr>
          <tr>
              <td>Age group:</td>
              <td>{{ entry.age_group}} </td>
          </tr>

      </table>


{% endblock %}